.container{
    background-color: rgb(183, 223, 228);
    margin-bottom: 30px;
    position: relative;
    min-height: 100vh;
}
#profile{
    height: 150px;
    width: 169px;
}
#aboutMe{
    padding: 10px;
    box-shadow: 10px 15px rgb(165, 191, 196);
}

p{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#email{
    font-size: large;
    margin-left: 20px;
}
