.container{
    background-color: rgb(183, 223, 228);
    position: relative;
    padding: 10px;
    box-shadow: 5px 30px 15px 0px rgb(0,0,0,.5);
    border-radius: 5%;
    overflow-x: hidden;
    z-index: 100;
}
#profile{
    height: 150px;
    width: 169px;
}
p{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#email{
    font-size: large;
    position: relative;
}
.skills{
    background-color: rgb(36, 196, 196);
    position: relative;
    height: 100vh;
}
.skillls-container{
    position: relative;
    left:2.5%;
    margin: 10%;
    height: 90%;
    text-align: center;
}
.skills-box{
    position: relative;
    background-color: white;
    width: 50vh;
    height: 50vh;
    margin: 1%;
    top:10%;
    left:10%;
    box-shadow: 0px 40px 20px 0px rgb(0,0,0,.5);
    border-radius: 20%;
    z-index: 100;
    text-align: center;
}
.skill-title{
    font-size: 3vmin;
    font-style: bold;
}
.coding-skills{
    position: relative;
    font-size: 1.5vw;
    top:10px;
}
.badge{
    width: 13vw;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.topThreeSoftSkills{
    font-size: 2vw;
    position: relative;
}
.links{
    font-size: 1.5vw;
    bottom: 3%;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}
.education{
    background-color: white;
    position: relative;
    height: 100vh;
}
.education-title{
    text-align: center;
    position: relative;
    top:10%;
}
.school{
    height: 80vh;
    position: relative;
    top: 15%;
}
.school-image{
    width: 30%;
    position: absolute;
    top:30%;
    left:33%;
    margin-bottom: 20px;

}
.degree{
    position: absolute;
    top:60%;
    left:20%;
    margin-top:20%;
}
.army{
    background-color:rgb(36, 196, 196);
    position: relative;
    height: 100vh;
}
.army-photos{
    margin:0;
    padding: 0;
    position: relative;
    top:10px;
    left:29%;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.leadership{
    position: absolute;
    font-style: bold;
    align-self:center;
    bottom: 5%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
}


